doctype html
html
    head
        if (title)
            title My Site - #{title}
        else
            title My Site
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css', integrity='sha256-ncjDAd2/rm/vaNTqp7Kk96MfSeHACtbiDU9NWKqNuCI=', crossorigin='anonymous')
    body
        block content
        script(src='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js', integrity='sha256-0gIvTkdsp0OOeV8tx3UTdi3ehppGwZbzQMvZJYhbzsE=', crossorigin='anonymous')
